
<h1 class="abb">About</h1>
<div class="about">
    <p>Offering guests the best in quality and service has been the primary principle at VIJAY SALES since its inception by Mr. Nanu Gupta, a visionary with astute business acumen and foresight.

    A marvellous journey that began with a small Electronics Showroom at Mahim in 1967, VIJAY SALES has since evolved and has become one of India’s biggest retail chains.
    
    VIJAY SALES caters to guests of all budgets and preferences. Today, you can shop for the best in Electronics from 113 aesthetically-designed and conveniently located showrooms in cities like Mumbai, New Mumbai, Thane, Pune, Surat, Vadodara, Ahmedabad, Delhi, Gurgaon, Faridabad, Indirapuram, Noida, Hyderabad, Vijayawada, Warangal, Vishakhapatnam, Tirupati, Kakinada & Rajahmundry .
    
    Along with a dedicated team of prolific managers, Mr. Nanu Gupta and his sons Nilesh Gupta and Ashish Gupta stand tall on the promise of serving their guests with the absolute best in both product and after-sales service.
    
    Bade Sir’s guest-focussed initiatives and intuitive understanding of emerging markets have helped VIJAY SALES to become a household name and the first preference for many when it comes to quality electronics and consumer durables.</p>

</div>
<div class="col_4">
    <div class="dvStatsFounded">
        <div class="dvfoundHeader">
            <div class="dvlogo">
                <img src="https://d2xamzlzrdbdbn.cloudfront.net/imagesrewamp/Faqs/Found.png">
            </div>
            <div class="dvfoundYear">
                <span class="txtSts">founded in</span>
                <span class="spnstsData">1967</span>
            </div>
        </div>
        <div class="dvfoundDesc">
            <p>A marvellous journey that began with a small Electronics Showroom at Mahim in 1967, since evolved and has become one of India’s biggest retail chains.</p>
        </div>
    </div>
</div>